<div class="col-md-12 mt-3">
	<h1 i18n>Crear nueva categoría</h1>
	<p i18n *ngIf="status != 'success'">
		Crea una nueva categoría para el blog
	</p>	
	<hr>

	<div class="alert alert-success col-md-5 mt-3" i18n *ngIf="status == 'success'">
		La categoría se ha creado correctamente
	</div>
	<div class="alert alert-danger col-md-5" i18n *ngIf="status == 'error'">
		La categoría no se ha guardado
	</div>
	
	<!--Formulario de crear categoría-->
	<form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" class="col-md-5">
		<div class="form-group">
			<label for="name" i18n >Descripción</label>
			<input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.description" required>

			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block" i18n >
				La descripción de la categoría no es válida.
			</small>			
			
		</div>
		<input type="submit" i18n-value value="Guardar" class="btn btn-success" [disabled]="categoryForm.invalid">
	</form>
	
<br>
</div>

