
<div class="col-md-12" *ngIf="!post">
	Cargando...
</div>
<div class="col-md-12 mt-3" *ngIf="post">
	<h1>
		{{post.title}}
	</h1>	
	<hr/>
	<p>
		{{post.category.name}}<!--<a [routerLink]="['/perfil',post.user.id]">{{post.user.name}} {{post.user.surname}}</a>-->
	</p>
	<hr/>
	<div class="post-wrapper" >
		<div class="post-content" [innerHtml]="post.content | sanitizeHTML">
			{{post.content}}
		</div>		
	</div>
	<div class="fb-comments" data-href="http://kolodyo.pw/entradas/1" 
	data-width="" 
	data-numposts="5"
	data-mobile="false">

	</div>
</div>


