<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>

	<p *ngIf="!isEdit">
		Añade un nuevo artículo al Blog
	</p>
	<p *ngIf="isEdit && post && postLoaded">
		Modifica el post: {{post.title}}
	</p>
	<hr/>
	<!--Mensajes de alerta-->
	<div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
		Los datos se han guardado correctamente
	</div>
	<div class="alert alert-danger col-md-5" *ngIf="status == 'error'">
		Los datos no se han guardado
	</div>
	<div id="lang-selector" *ngIf="isEdit">
		<div *ngFor="let lang of langs" class="lang">

			<button data-toggle="modal" [attr.data-target]="'#myModal'+lang">{{lang}}</button>

			<div class="modal fade" id="{{'myModal'+lang}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="{{'myModal'+lang}}">¿Seguro que quieres borrar esta entrada?</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Vas a cambiar el idioma a {{lang}} podrías perder datos
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal btn-warning" data-dismiss="modal">Close</button>
							<a (click)="changeLanguage(lang)" class="btn btn-danger" data-dismiss="modal">Cambiar</a>
						</div>
					</div>
				</div>
			</div>			

		</div>
	</div>
	<div class="clearfix"></div>
	<!--Formulario de crear entrada-->
	<form class="col-md-12 ml-0 pl-0" #postNew="ngForm" (ngSubmit)="onSubmit(postNew)"
		*ngIf="postLoaded"
	>
		<div class="form-group" *ngIf="isEdit">
			<label for="title">Título</label>
			<input type="tex" name="title" #title="ngModel" [(ngModel)]="postLanguage.title_language" class="form-control" required>
			<small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
				El título no es válido
			</small>
		</div>
		<div *ngIf="isEdit">
			<label for="content">Contenido</label>
			<div id="editor-wrapper">
				<div id="editor">
					<ngx-editor-menu  [toolbar]="toolbar" [editor]="editor"></ngx-editor-menu>
					<ngx-editor [editor]="editor" name="content" #content="ngModel" [(ngModel)]="htmlDoc" required></ngx-editor>
					<small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
						El contenido no es válido
					</small>
				</div>		
			</div>
			
		</div>
		<div class="form-group">
			<label for="category_id">
				Categoría
			</label>
			<select name="category_id" #category="ngModel" [(ngModel)]="post.category_id" class="form-control">
				<option *ngFor="let category of categories" value="{{category.id}}">
					{{category.description}}
				</option>
			</select>
		</div>
		<div class="form-group" *ngIf="isEdit && post.id">
			<label for="image">Images</label>
			<div *ngIf="isEdit">
				<div *ngFor="let imageOnPost of imagesOnPost" class="imageOnPost">
					<img src="{{url + 'post/image/' + imageOnPost.description}}" class="avatar_edit"/>
					<div class="clearfix">

					</div>
					<button type="button" class="btn btn-danger ml-2" (click)="deleteImage(imageOnPost.id)">
						Borrar
					</button>
					<button type="button" class="btn btn-primary ml-2" [class.btn-info]="imageOnPost.id==post.image" (click)="setMainImage(imageOnPost.id)">
						M
					</button>
					<button type="button" class="btn btn-warning ml-2" (click)="submitDescription(imageOnPost.id,imageOnPost)">						
						Descripción
					</button>
					<input type="text" [(ngModel)]="imageOnPost.description" [ngModelOptions]="{standalone: true}"/>
				</div>
				
			</div>
			<angular-file-uploader
					[config]="afuConfig"
					[resetUpload]=resetVar
					(ApiResponse)="imageUpload($event)">
			</angular-file-uploader>
		</div>
		<input type="submit" value="Guardar" class="btn btn-success" [disabled]="postNew.invalid"/>
	</form>
	
<br>
</div>

